{php
    $noSide = (in_array( $_SERVER['REQUEST_URI'], array("/about-us.htm","/contact-us.htm","/cart.htm")))?true:false;
    $nowIndex = ($c == 'index')?true:false;
}
{template _htmlStart}

<header class="container"></header>

<div id="banner" class="{if !$nowIndex}inner{/if}"></div>

<main class="container {if $nowIndex}index{else}inner {$container_class}{/if}">
    <article class="row">
        {if $nowIndex}
        {else}
            <section id="breadCrumb" class="col-xs-12">{template obj/breadCrumb/breadCrumb_modern}</section>
            <section id="mainTitle" class="col-xs-12 michroma"></section>
            {if !$noSide}<section id="colSide" class="hidden-xs col-sm-3">{template obj/sideBar/sideBar_modernV2}</section>{/if}
            <section id="colMain" class="col-xs-12 {if !$noSide}col-sm-9{/if}">
                <div id="main">{template $tpl_content}</div>
            </section>
        {/if}
    </article>
</main>

<footer class="container">
    <ul>
        {if $comp_info['address']}<li><span class="fa fa-map-marker"></span>{$comp_info['address']}</li>{/if}
        {if $comp_info['tel']}<li><span class="fa fa-phone"></span><a href="tel:{php echo preg_replace('/[\D]/','',$comp_info['tel']);}">{$comp_info['tel']}</a></li>{/if}
        {if $comp_info['fax']}<li><span class="fa fa-fax"></span>{$comp_info['fax']}</li>{/if}
        {if $comp_info['email']}<li><span class="fa fa-envelope-o"></span><a href="mailto:{$comp_info['email']}">{$comp_info['email']}</a></li>{/if}
    </ul>
    <small>&copy; {php echo date("Y",time())." ";} {$comp_info[compname]} All rights reserved. {template _add_link}</small>
</footer>

{template _htmlEnd}